include includes/head.pug
body
  #wrap
    .container
      h1.page-header= appTitle
      p.lead Welcome to example from Express.js Experience by&nbsp;
        a(href="http://twitter.com/azat_co") @azatmardan
        |. Please enjoy.
      block page
      block header
        div
          include includes/menu
      block alert
        div.alert.alert-warning.hidden #{error}
      .content
        block content
  block footer
    include includes/footer.pug
